!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      A new project has been created!!
    %p
      You can check it in the current projects of the administrators panel
