.select-back{ "ng-controller" => "backsController" } 
  - @back.user_id = current_user.id
  - @back.project_id = params[:project_id]
  -#%input{"ng-click" => "validateAmount()", type: "radio", name: "back[pledge_id]", value: 0 , selected: true}
    Prueba
  = form_for [:project,@back] do |f|
    %p
      Amount
      %input{type: "text", name: "back[amount]"}
      %h4 Select a Pledge for you Back
      %input{"ng-click" => "validateAmount()", type: "radio", name: "back[pledge_id]", value: 0 , selected: true}
      %p Nothing
    - @pledge.each do |pledge|
      %input{"ng-click" => "validateAmount()", type: "radio", name: "back[pledge_id]", value: pledge.id }
      %h5 #{pledge.min} 
      = pledge.description
      %br
    %button
      Save Back

