.main-board
  %section.board
    %h2 Our great project!
    %h4 This is a great stuff suport us
    %button.btn.btn-small.btn-info{:type => "button"} Learn More >
%section
  .main-project
    .main-project-header
      .main-project-header-cell-left
        %h4 Staff picks: Tecnology
      .main-project-header-cell-right
        See all
        %strong 340
        Tecnology projects
    .main-project-video
      %iframe{:allowfullscreen => "", :frameborder => "0", :width => "340", :height => "250", :src => "//www.youtube.com/embed/AkQvzvzf1sc"}
    //.divider.section.transparent
    .main-project-content
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui facer possim assum. Typi non habent claritatem insitam; est usus legentis.
  .categories
    hola mundo
%br/
%h1 Welcome
{{ 1+3 }}
%table{"ng-controller" => "projectsController", "ng-init" => "showProjects()"}
  %thead
    %tr
      %th Name
      %th Price
      %th Description
      %th Stock
      %th
      %th
      %th
  %tbody(ng-repeat="project in projects")
    %tr
      %td {{project.name}}
      %td 
      %td 
      %td 

