
.main-board
  %section.board
    %h2 Our great project!
    %h4 This is a great stuff suport us
    %button.btn.btn-small.btn-info{:type => "button"} Learn More >
%section
  .main-project
    .main-project-header
      .main-project-header-cell-left
        %h4 Staff picks: Tecnology
      .main-project-header-cell-right
        See all 
        %strong 340 
        Tecnology projects
    .main-project-video
      %iframe{:allowfullscreen => "", :frameborder => "0", :width => "340", :height => "250", :src => "//www.youtube.com/embed/AkQvzvzf1sc"}
    //.divider.section.transparent
    .main-project-content
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui facer possim assum. Typi non habent claritatem insitam; est usus legentis.
  .categories
    %p Art
    %p Comics
    %p Dance
    %p Design
    %p Fashion
    %p Film & Video
    %p Food
    %p Games
    %p Music
    %p Photography
    %p Publishing
    %p.text-info Tecnology
    %p Theater
%section.projects-main
  %section.projects-header
    .ps-header-left
      .popular-icon
        %h4 Popular
    .ps-header-right
      See all
  #projectsMain.carousel.slide{"ng-controller" => "projectsController", "ng-init" => "showProjects()"}
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#projectsMain"}
      %li{"data-slide-to" => "1", "data-target" => "#projectsMain"}
    .carousel-inner{ :style => 'height: 350px' }
      .active.item
        %section.projects-block
          %div.row-fluid
            %ul.thumbnails
              %li.span3{"ng-repeat" => "project in projects"}
                .thumbnail
                  .img-thumbnail.project3
                  .caption
                    %h3 {{project.name}} 
                    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.
                    %a.btn.btn-primary{:href => "projects/{{project.id}}"} {{ project.name}} 
      .item 
        %section.projects-block
          %div.row-fluid
            %ul.thumbnails
              %li.span3{"ng-repeat" => "project in projects"}
                .thumbnail
                  .img-thumbnail.project2
                  .caption
                    %h3 {{ project.name }} 
                    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.
                    %a.btn.btn-primary{:href => "projects/{{project.id}}"} {{ project.name}} 
    %a.carousel-control.left{"data-slide" => "prev", :href => "#projectsMain"} ‹
    %a.carousel-control.right{"data-slide" => "next", :href => "#projectsMain"} ›
.main-board.facebook
  %section.board.facebook
    %h2 Discover great projects with your friends
    %br
    %button.btn.btn-large.btn-primary{:type => "button"} 
      %i.icon-thumbs-up.iconsw 
      log in with facebook
