
.main-board
  %section.board
    %h2 Our great project!
    %h4 This is a great stuff suport us
    %button.btn.btn-small.btn-info{:type => "button"} Learn More >
%section
  .main-project
    .main-project-header
      .main-project-header-cell-left
        %h4 Staff picks: Tecnology
      .main-project-header-cell-right
        See all 
        %strong 340 
        Tecnology projects
    .main-project-video
      %iframe{:allowfullscreen => "", :frameborder => "0", :width => "340", :height => "250", :src => "//www.youtube.com/embed/AkQvzvzf1sc"}
    //.divider.section.transparent
    .main-project-content
      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim.
      %br
      .progress
        .bar{:style => "width: 60%;"}
      %br
      .span1
        %strong 60%
        %br
        %small.muted funded
      .span1
        %strong $40,342
        %br
        %small.muted pledged
      .span1
        %strong 21
        %br
        %small.muted Days left
  .categories
    %p Art
    %p Comics
    %p Dance
    %p Design
    %p Fashion
    %p Film & Video
    %p Food
    %p Games
    %p Music
    %p Photography
    %p Publishing
    %p.text-info Tecnology
    %p Theater
%section.projects-main
  %section.projects-header
    .ps-header-left
      .p_icon.popular
        %h4 Popular
    .ps-header-right
      See all
  #projectsMain.carousel.slide{"ng-controller" => "projectsController", "ng-init" => "showProjects()"}
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#projectsMain"}
      %li{"data-slide-to" => "1", "data-target" => "#projectsMain"}
    .carousel-inner{ :style => 'height: 350px' }
      .active.item
        %section.projects-block
          %div.row-fluid
            %ul.thumbnails
              %li.span3
                .thumbnail
                  .img-thumbnail.project3
                  .caption
                    %h3 Personal dog
                    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.
                    %a.btn.btn-primary Personal Dog
              %li.span3
                .thumbnail
                  .img-thumbnail.project1
                  .caption
                    %h3 Robotic People
                    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.
                    %a.btn.btn-primary Robotic People
              %li.span3
                .thumbnail
                  .img-thumbnail.project2
                  .caption
                    %h3 Born to help
                    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.
                    %a.btn.btn-primary Born to help
              %li.span3
                .thumbnail
                  .img-thumbnail.project3
                  .caption
                    %h3 Just do it
                    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.
                    %a.btn.btn-primary Just do it
      .item 
        %section.projects-block
          %div.row-fluid
            %ul.thumbnails
              %li.span3{"ng-repeat" => "project in projects"}
                .thumbnail
                  .img-thumbnail.project2
                  .caption
                    %h3 {{ project.name }} 
                    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.
                    %a.btn.btn-primary{:href => "projects/{{project.id}}"} {{ project.name}} 
    %a.carousel-control.left{"data-slide" => "prev", :href => "#projectsMain"} ‹
    %a.carousel-control.right{"data-slide" => "next", :href => "#projectsMain"} ›
.main-board.facebook
  %section.board.facebook
    %h2 Discover great projects with your friends
    %br
    %button.btn.btn-large.btn-primary{:type => "button"} 
      %i.icon-thumbs-up.iconsw 
      log in with facebook
%section.curated-pages
  %section.projects-header
    .ps-header-left
      .p_icon.curated
        %h4 Curated Pages
    .ps-header-right
      See all
  %section.projects-block.pages
    %div.row-fluid
      %ul.thumbnails
        %li.span2
          .thumbnail
            .img-page.project1
        %li.span2
          .thumbnail
            .img-page.project2
        %li.span2
          .thumbnail
            .img-page.project3
        %li.span2
          .thumbnail
            .img-page.project4
        %li.span2
          .thumbnail
            .img-page.project5
        %li.span2
          .thumbnail
            .img-page.project6
.main-board.make
  %section.board.make
    %h2{:style => 'color: rgb(255,255,255)'} 
      Where projects come from
    %p{:style => 'color: rgb(0,0,0)'}  
      Each and every Starfish project is the independent creation of someone like you.
      %br
      Want to know more about how projects happen, or start your own?
      %a{:style => 'color: rgb(255,255,255)'} Learn More
