#main-container
  %header
    .logo-header
      .logo-img
        %img.img-rounded{:src => "/assets/logo.png"}/
    .content-header
      .top-header
        .input-append
          %button{:class => "btn", :type => "button",} 
            %i.icon-user.iconsb
            log in
          %input{:type => 'text', :placeholder => 'Search'}
      .middle-header
        .middle-left-header
          hola
        .middle-right-header
          mundo
  %h1= @user.id
  %p
    %strong Name:
    = @user.firstname
    %br/
    %strong Lastname :
    = @user.lastname
    %br/
    %strong Created Date:
    = @user.created_at
    %br/
