%section
  %h2 Current projects
  %br
  %table.table.table-striped
    %thead
      %tr
        %th Id
        %th Name
    - @projects.each do |project|
      %tr
        %td #{ project.id }
        %td #{ project.name }
        %td
          = link_to "Show", project
  = link_to "Back", root_path
