#main-project-container
  %section
    = flash[:notice]
    .project-header
      %h2= @project.name 
      %p
        by 
    .project-container.modal
      .container-head
        .project-video
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "480px", :src => "//www.youtube.com/embed/jvEaOBty6xI", :width => "640"}
        .project-donations
          %h1 515
          %h5 Bakers
          %h1 $170,475
          %h5 Pledged of $28,000 to goal
          %h1 12
          %h5 Days to go
          %br
          %br
          = link_to "Back this project", new_back_path(:project => @project.id), class: "btn btn-large btn-block btn-primary"
          %h2 Backers
          %br
          %br
      .project-description
        %h3 Project Description
        = @project.description
