%section
  %h1 Administrator
  %br
  = link_to "View current projects", admin_projects_path 
  %br
  = link_to "View project categories", admin_categories_path 
  %br
  = link_to "Check how much monney is commited to be given", monney_to_give_admin_projects_path
  %br
  %br
 
