%section
  %h1 Administrator
  %br
  = link_to "View current projects", admin_projects_path 
  %br
  = link_to "View project categories", admin_categories_path 
  %br
  = link_to "Check how much monney is commited to be given", monney_to_give_admin_backs_path
  %br
  %br
  Check the revenue on a given period of time
  %form.form-search{:action => revenue_admin_backs_path, :method => 'GET'}
    %input#start_date.input-medium.search-query{:type => "text", :placeholder => 'Start Date', :name => 's_date'}
    %input#end_date.input-medium.search-query{:type => "text", :placeholder => 'End Date', :name => 'e_date'}
    %button.btn{:type => "submit"} Check
