.iconsw
  background-image: url(/assets/glyphicons-halflings-white.png)

.iconsb
  background-image: url(/assets/glyphicons-halflings.png)

#main-container
  margin: 0px auto
  width: 100%
  min-width: 1250px
header
  &.sf-main
    background: white
    width: 99% fixed
    border: none
    display: table
    margin: 0 auto
    vertical-align: middle
    text-align: center
    height: 60px

.divider
  border-left: 1px solid lightGray
  height: 50px
  display: inline-block
  vertical-align: middle
  margin: 0 20px 0 20px

.main-board
  width: auto fixed
  height: 300px
  vertical-align: middle
  background: url(/assets/main-board.jpg)
  &.facebook
    background: rgba(0,0,0,0.1)
    border: 6px 0 6px 0
    border-color: gray
  &.make
    background: url(/assets/start-a-project-bg.jpg)
    height: 200px
    display: table
    width: 100%
  &.footer
    border-top: 3px dashed rgb(0,0,153)
    background: rgb(51, 51, 255)
    height: 560px
.header-content
  display: table-cell
  vertical-align: middle

section
  width: 1000px
  margin: 30px auto
  height: 400px
  display: table
  &.board
    width: 570px
    &.facebook
      background: url(/assets/social-bg.jpg) no-repeat scroll 0% 5px
      padding: 60px
      text-align: right
    &.make
      background: rgba(51,153,215,0.7)
      padding: 20px
      width: 800px
      height: 150px
      border-radius: 15px
      display: table
      vertical-align: middle
  &.curated-pages
    width: 100%
    height: 250px
    margin: 0 auto
  &.projects-main
    width: 100%
    height: 470px
    margin: 0 auto
    border-top: 1px solid lightGray
  &.projects-block
    height: 300px
    margin: 5px auto
    padding: 5px
    &.pages
      height: 200px
  &.projects-header
    height: 40px
    margin: 20px auto 15px
    display: table
  &.footer
    color: rgb(255,255,255)
    height: 220px
    &.middle
      height: 100px
      margin: 0 auto
      padding: 60px 0px 0 0px
      text-align: center
      border-top: 1px solid rgb(255,255,255)
      border-bottom: 1px solid rgb(255,255,255)
      &.down
        border: none
        height: auto

.ps-header-left
  display: table-cell
  width: 450px
  vertical-align: middle
.ps-header-right
  display: table-cell
  text-align: right
  width: 450px
  vertical-align: middle
.p_icon
  width: 90px
  height: 25px
  display: table
  text-align: right
  &.popular
    background: url(/assets/popular-icon.gif) no-repeat scroll 0% 35%
  &.curated
    width: 160px
    background: url(/assets/curated-icon.gif) no-repeat scroll 0% 35%
//---------------------main project
.main-project
  width: 700px
  height: 300px
  display: table-cell
  vertical-align: middle
  padding: 10px

.main-project-header
  height: 40px
  display: table
.main-project-header-cell-left
  display: table-cell
  width: 450px
.main-project-header-cell-right
  text-align: right
  display: table-cell
  width: 250px
.main-project-video
  display: table-cell
  vertical-align: middle

.main-project-content
  display: table-cell
  vertical-align: middle
  padding: 10px
//---------------------categories
.categories
  display: table-cell
  width: 300px
  padding: 10px
  border-left: 1px solid lightGray
.img-thumbnail
  height: 100px
  width: 200px
  padding: 12px
  &.project1
    background: url(/assets/p1.jpg)
  &.project2
    background: url(/assets/p2.jpg)
  &.project3
    background: url(/assets/p3.jpg)
.img-page
  height: 137px
  width: 137px
  &.project1
    background: url(/assets/logo1.jpg) no-repeat
    background-size: 137px 137px
  &.project2
    background: url(/assets/logo2.jpg) no-repeat
    background-size: 137px 137px
  &.project3
    background: url(/assets/logo3.jpg) no-repeat
    background-size: 137px 137px
  &.project3
    background: url(/assets/logo3.jpg) no-repeat
    background-size: 137px 137px
  &.project4
    background: url(/assets/logo4.jpg) no-repeat
    background-size: 137px 137px
  &.project5
    background: url(/assets/logo5.jpg) no-repeat
    background-size: 137px 137px
  &.project6
    background: url(/assets/logo6.jpg) no-repeat
    background-size: 137px 137px
  &.project7
    background: url(/assets/logo7.jpg) no-repeat
    background-size: 137px 137px
  &.project8
    background: url(/assets/logo8.jpg) no-repeat
    background-size: 137px 137px
  &.project9
    background: url(/assets/logo9.jpg) no-repeat
    background-size: 137px 137px
  &.project10
    background: url(/assets/logo10.jpg) no-repeat
    background-size: 137px 137px
  &.project11
    background: url(/assets/logo11.jpg) no-repeat
    background-size: 137px 137px
  &.project12
    background: url(/assets/logo12.jpg) no-repeat
    background-size: 137px 137px
  &.project13
    background: url(/assets/logo13.jpg) no-repeat
    background-size: 137px 137px
