%section
  %h1 The total of the monney that the site will give is: $#{@money}
  %p Note: This is asumatory of all the backs less your fee.
%section
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Money   
    - @new_backs.each do |key,back|
      %tr
        %td #{ key }
        %td #{ back * (1 - @fee)}
        %td 
  = link_to "Back", admin_home_index_path
